* {
  width: 93%;
  margin: auto;

}

.countryImg {
  text-align: center;
  position: relative;
  .country{
    opacity: 0.5;
  }

}
.szeged {
  width: 80px;
  position: absolute;
  top: 77%;
  left: 55%;
  background: white;
  border-radius: 20px;
}

.pecs {
    width: 80px;
    position: absolute;
    top:84%;
    left:28%;
    background: white;
    border-radius: 20px;
}

.keszthely {
    width: 80px;
    position: absolute;
    top:60%;
    left:15%;
    background: white;
    border-radius: 20px;
}
.szombathely {
    width: 80px;
    position: absolute;
    top:40%;
    left:5%;
    background: white;
    border-radius: 20px;
}

.sopron {
    width: 80px;
    position: absolute;
    top:22%;
    left:7%;
    background: white;
    border-radius: 20px;
}

.gyor {
    width: 80px;
    position: absolute;
    top:29%;
    left:20%;
    background: white;
    border-radius: 20px;
}

.szekesfehervar {
    width: 80px;
    position: absolute;
    top:44%;
    left:30%;
    background: white;
    border-radius: 20px;
}

.budapest {
    width: 80px;
    position: absolute;
    top:34%;
    left:42%;
    background: white;
    border-radius: 20px;
}

.szolnok {
    width: 80px;
    position: absolute;
    top:47%;
    left:58%;
    background: white;
    border-radius: 20px;
}

.miskolc {
    width: 80px;
    position: absolute;
    top:14%;
    left:64%;
    background: white;
    border-radius: 20px;
}

.debrecen {
    width: 80px;
    position: absolute;
    top:34%;
    left:75%;
    background: white;
    border-radius: 20px;
}
